version: "3.9"

services:
  app:
    container_name: microservicio-seguro
    build:
      context: .
      dockerfile: Dockerfile
    image: microseguro:v1
    restart: always
    ports:
      - "8080:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:3000/health"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 5s
    security_opt:
      - no-new-privileges:true
    read_only: true
    tmpfs:
      - /tmp
    networks:
      - netsegura

networks:
  netsegura:
    driver: bridge
